<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <span> <a routerLink="/landing" class="link">To-Do-Tracker</a></span>
      <!-- <div class="icon"> -->
        <!-- <mat-icon *ngIf="this.authService.isLoggedIn== true" class="icons"  routerLink="home" >home</mat-icon> 
        <h3  </h3>
        <h3 class="icons" routerLink="view" *ngIf="this.authService.isLoggedIn == true">HOME</h3>
        <h3 class="icons" (click)="onLoggingOut()"  *ngIf="this.authService.isLoggedIn == true">logout</h3>
        <p *ngIf="this.authService.isLoggedIn == true">{{this.authService.userName}}</p> -->

      <!-- </div> -->
     <div class="icon">
      <!-- <button class="icons" routerLink="login" *ngIf="this.authService.isLoggedIn == false">Login</button> -->
      <button class = "username" mat-button [matMenuTriggerFor]="belowMenu"
            *ngIf="this.authService.isLoggedIn == true">welcome {{this.authService.userName}}</button>

                <mat-menu #belowMenu="matMenu" yPosition="below">
                  
                    <!-- <a routerLink = "/edit-information" mat-menu-item>Edit Profile</a> -->
                    <a  routerLink="/view" mat-menu-item > Dashboard</a> 
                    <a  routerLink="/add" mat-menu-item >Add Task</a> 
                    <button (click) = "onLoggingOut()" mat-menu-item>Logout</button>

                </mat-menu>
              </div>
    </mat-toolbar>
   <router-outlet></router-outlet>
    <!-- Add Content Here -->
    <app-footer></app-footer> 
  
  </mat-sidenav-content>
</mat-sidenav-container>
