<div class="landing">

    <div class="landing-block-seprator">
        <img class="logo" src="./../../assets/images/3.jpg" alt="" >
        <div class="side-content">
            <h1 class="landing-h1">ToDo TRACKER</h1>
            
            <p class="animate__animated animate__fadeInUp  animate__slower animate__delay-2s animate-times s-text">
                To-do lists help users organize their tasks in a structured manner. By listing tasks sequentially or categorizing them by priority or type, individuals can gain a better understanding of their workload and plan accordingly
            </p>
            
            <p class="animate__animated animate__fadeInUp animate__slower animate__delay-1.5s animate-times  s-text">
                One of the primary benefits of a to-do list is its ability to help users prioritize tasks. By assigning levels of importance or deadlines to each task, individuals can focus their attention on completing the most critical items first
            </p>
            
            
            
            
            <div class="downpage" id="downPage">
                <a routerLink="/login" class="anchor">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Get Started
                </a>
            </div>
        </div>
    </div>
