<footer>
  <div class="footer">
    <div class="row">
      
      <!-- <img src="../../assets/images/2.png" alt="" width="30px" height="30px"> -->
    
   
      <p>To-Do-Tracker</p>
      

    </div>
    <div class="row1">
      <p>Stay organized and productive with our intuitive todo app - your ultimate task management solution!</p>

    </div>
    <div class="row">
      <a href="#"><i class="fa fa-facebook" style="color: #1f7bf2"></i></a>
      <a href="#"><i class="fa fa-instagram" style="color: #ff2739"></i></a>
      <a href="#"><i class="fa fa-twitter" style="color: #08a6f8"></i></a>
      <a href="#"><i class="fa fa-github" style="color: grey"></i></a>
      <a href="#"><i class="fa fa-linkedin-square" style="color: #1f7bf2"></i></a>
    </div>

    <div class="row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">support</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">help</a></li>
        <li><a href="#">Terms & Conditions</a></li>
       
      </ul>
    </div>

    <div class="row">
      Copyright © 2024 - All rights reserved || Designed By: prerana & mohan
    </div>
  </div>
</footer>